/*Custom Grid System*/
.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 7px;
    margin: 7px;
}

.flex-row-space {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 7px;
    margin: 7px;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    margin: 7px;
}

.side-padding-large {

}

/*Common Page Characteristics*/
.page-container {
    height: 86vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding-top: 5%;
}

.content-container {
    width: 95%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 8px #3A1026;
}


.container-heading {
    width: 100%;
    height: 15%;
    padding: 12px;
    font-size: larger;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    background-color: #fd7633;
}

.container-body {
    width: 75%;
    height: 100%;
    margin-top: 21px;
    align-self: center;
    text-align: center;
    padding-bottom: 5%
}

.container-add-content {
    width: 95%;
    height: 100%;
    margin-top: 10px;
}

/*Registration Page*/
#register-page-container {
    height: 100%;
    display: flex;
}

#create_course-form-container {
    margin-top: 5%;
    max-width: 75%;
    border: 3px solid #3A1026;
    border-radius: 21px;
    padding: 10px;
    overflow: hidden;
}

/*NavBar*/
.main-nav-link {
    text-decoration: none;
    color: #3A1026;
}

/*Register Page*/

.register-container {
    width: 65%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 8px #3A1026;
}

.register-form-body {
    width: 75%;
    height: 100%;
    margin-top: 21px;
    align-self: center;
    text-align: center;
    padding-bottom: 5%
}

/*Login Page*/

.login-container {
    width: 50%;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 8px #3A1026;
}

.login-form-body {
    width: 75%;
    height: 100%;
    margin-top: 21px;
    align-self: center;
    text-align: center;
    padding-bottom: 5%
}

/*View All Courses*/

.view-all-courses-container {
    border: 2px solid #D81A5E;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
}

.view-all-courses-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    width: 100%;
    height: 100%;
    padding: 15px;
    align-self: center;
    text-align: center;
}

/*Course Card Component*/

.course-card {
    display: flex;
    flex-direction: column;
    border: 2px solid #fd7633;
    border-radius: 5px;
    margin: 18px;
    box-shadow: 0 2px 4px #fd7633;
}