/*Custom Grid System*/
.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 7px;
    margin: 7px;
}

.flex-row-space {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 7px;
    margin: 7px;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px;
    margin: 7px;
}

.margin-standard {
    margin: 8px;
}


/*Common Page Characteristics*/
#page-container {
    height: 100vh;
    margin: 0;
}

/*Registration Page*/
#register-page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create_course-page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-image: url("../images/Hexagon.svg");*/
}

#register-form-container {
    margin: 5%;
    max-width: 63%;
    border: 3px solid #3A1026;
    border-radius: 21px;
    padding: 10px;
    overflow: hidden;
}

#create_course-form-container {
    margin-top: 5%;
    max-width: 75%;
    border: 3px solid #3A1026;
    border-radius: 21px;
    padding: 10px;
    overflow: hidden;
}

/*NavBar*/
.main-nav-link {
    text-decoration: none;
    color: #3A1026;
}